@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

.cardGeneralStyles {
  font-family: 'Lemonada', cursive;
  background-image: url('../../img/beautiful-red-background-isolated-tomato-splash-juice.jpg');
  box-shadow: 0 4px 4px rgba(#c82333, 0.3);
}
