.timerColonStyles {
  width: 13px;
  height: 13px;
  margin: 4px;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
